files:
  "/etc/awslogs/config/beanstalklogs.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      [/var/log/nodejs/nodejs.log]
      log_group_name = /aws/elasticbeanstalk/backend-env-green
      log_stream_name = {instance_id}/nodejs
      datetime_format = %Y-%m-%d %H:%M:%S

      [/var/log/web.stdout.log]
      log_group_name = /aws/elasticbeanstalk/backend-env-green
      log_stream_name = {instance_id}/webstdout
      datetime_format = %Y-%m-%d %H:%M:%S

commands:
  "01enable-awslogs":
    command: chkconfig awslogs on

services:
  sysvinit:
    awslogs: start